.dictionary-wrapper {
  text-align: center;
  .sub-heading {
    font-size: 32px;
    font-weight: 300;
    display: inline;
  }
  input {
    @include input-style();
    margin: 15px auto;
  }
  button {
    @include button-style();
  }
  .result-wrapper {
    @include content-wrapper();
    display: block;
    margin: 50px auto;
    padding: 30px 40px;
    .definitions {
      text-align: left;
      margin: 15px 0 15px 15px;
    }
  }
}
