.header-wrapper {
  background-color: $main-color;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  .icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
      font-weight: 300;
      padding-left: 20px;
    }
  }
  .links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    p {
      font-size: 12px;
      padding-right: 40px;
      .check-icon {
        padding-right: 5px;
      }
    }
    button {
      background-color: transparent;
      border: 1px solid white;
      color: white;
      font-size: 16px;
      padding: 10px 15px;
      margin-left: 10px;
      border-radius: 6px;
      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }
    a:visited {
      color: inherit;
    }
    a {
      padding: 0 10px;
      text-decoration: none;
    }
  }
}
